.cookie-popup
    width: 750px
    height: 252px
    position: absolute
    right: 0
    bottom: 0
    border-radius: 12px
    border: 2px solid #FF75CB
    background: #FFEDFD
    padding: 40px

.cookie-container
    display: flex
    flex-direction: column

.cookie-title
    font-size: 24px
    color: #000
    margin-bottom: 16px

.cookie-description
    font-size: 18px
    color: #555
    text-align: center
    margin-bottom: 30px

.cookie-button
    font-size: 18px
    padding: 15px 30px
    border: none
    border-radius: 4px
    cursor: pointer
    background-color: #FF75CB
    color: #FFF
    &:hover
        background-color: darken(#FF75CB, 10%)