div.cookie-popup
    div.cookie-container
        h2.cookie-title Our website uses cookies
        p.cookie-description To offer you the best, we always use cookies. If you agree, simply click 'Accept all cookies' to continue your adventure on our website.
        button.cookie-button Accept all cookies