header.header
  .header__logo
    <a href="https://finance.ua/">
    <img class="header__logo-img" src="img/finance-logo.svg" alt="Finance Logo"></a>
  nav.header__nav
    a.header__nav-link(href='#news') News
    a.header__nav-link(href='#') Join maillist
    a.header__nav-link(href='#') Contact us
.spacer
